## Import a Data Frame

In [1]:
import os
import pathlib
import sys

library_tools_path = str(pathlib.PurePath(os.getcwd()))
sys.path.append(library_tools_path)

import Library_Portfolio_Tools as lpt

In [2]:
# Main

# Global Variables
closing_date = "2023-06-12"

path_portfolio = library_tools_path + '/Data_Set_Closing.xlsx'
eligibility_check = lpt.bank_eligibility_check(path_portfolio, 
                             ADVANCE_RATE=65, 
                             closing_date=closing_date)

eligibility_check["Covenants"]

{'4.a) Manufactured by an Acceptable Manufacturer': 'No Manufacturer breaches have been observed',
 '4.b) NBV Weighted Average Age of such Equipment': 'No NBV weighted average age breach',
 '4.c) Average Remaining Lease Term of the such Equipment manufactured after 2019': 'No Containers Manufactured after 2019 remaining lease term breaches (Avg Remaing Lease Term 6.92 years)',
 '4.d) Total Purchase Price by CEU': 'No NBV by CEU breach: 1,650.02 USD. The limit is 2900 USD',
 '5.19) Concentration Limits': 'No concentration convenant breach',
 'Advance Rate cheking': 'No Advance Rate breaches (Advance Rate 60.30%)',
 '5.13) OFF Lease portfolio NBV concentration': 'No Off lease proportion breaches (Proportion 3.83%)',
 '5.17) Finance Lease portfolio NBV concentration': 'No Finance lease proportion breaches (Proportion 2.19%)'}

In [3]:
eligibility_check["Portfolio"]

,Serial Number,Type,Unit,CEU,Manufacturer,Manufacturing Date,Vintage,Current Status,Lessee,Contract Number,...,Per Diem (Unit),Purchase Price,RV,Closing Date,Age at Closing Date,Weighted Age (Years),Remaining Lease Term (Days),Age at End of Contract,Lifecycle Remaining Years,Annual Revenue
0,GLDU9643863,20'DC,1,1.0,FUWA,2012-04-30,2012,Operational Lease,MSC,4135,...,0.48,1475.62,1100,2023-06-12,11.123288,0.001506,1937.0,5.337324,3.876712,175.2
1,GLDU9644237,20'DC,1,1.0,FUWA,2012-04-30,2012,Operational Lease,MSC,4135,...,0.48,1475.62,1100,2023-06-12,11.123288,0.001506,1937.0,5.337324,3.876712,175.2
2,GLDU9644290,20'DC,1,1.0,FUWA,2012-04-30,2012,Operational Lease,MSC,4135,...,0.48,1475.62,1100,2023-06-12,11.123288,0.001506,1937.0,5.337324,3.876712,175.2
3,GLDU9644495,20'DC,1,1.0,FUWA,2012-04-30,2012,Operational Lease,MSC,4135,...,0.48,1475.62,1100,2023-06-12,11.123288,0.001506,1937.0,5.337324,3.876712,175.2
4,GLDU9644643,20'DC,1,1.0,FUWA,2012-04-30,2012,Operational Lease,MSC,4135,...,0.48,1475.62,1100,2023-06-12,11.123288,0.001506,1937.0,5.337324,3.876712,175.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4677,TGCU2341983,20'DC,1,1.0,CIMC,2023-03-17,2023,Off Lease,ONE,4439,...,0.74,2191.00,1100,2023-06-12,0.238356,0.000048,NaN,NaN,14.761644,270.1
4678,TGCU2341999,20'DC,1,1.0,CIMC,2023-03-17,2023,Off Lease,ONE,4439,...,0.74,2191.00,1100,2023-06-12,0.238356,0.000048,NaN,NaN,14.761644,270.1
4679,TGCU2342001,20'DC,1,1.0,CIMC,2023-03-17,2023,Off Lease,ONE,4439,...,0.74,2191.00,1100,2023-06-12,0.238356,0.000048,NaN,NaN,14.761644,270.1
4680,TGCU2342017,20'DC,1,1.0,CIMC,2023-03-17,2023,Off Lease,ONE,4439,...,0.74,2191.00,1100,2023-06-12,0.238356,0.000048,NaN,NaN,14.761644,270.1
4681,TGCU2342022,20'DC,1,1.0,CIMC,2023-03-17,2023,Off Lease,ONE,4439,...,0.74,2191.00,1100,2023-06-12,0.238356,0.000048,NaN,NaN,14.761644,270.1