## Import a Data Frame

In [1]:
import os
import pathlib
import sys

library_tools_path = str(pathlib.PurePath(os.getcwd()))
sys.path.append(library_tools_path)

import Library_Portfolio_Tools as lpt

In [6]:
# Main
path_portfolio = "https://raw.githubusercontent.com/elcacique69/DCF---Portfolio-Acquisition-Tool/main/Data_Set_Closing.xlsx"
MIN_PRICE = 1500

results = lpt.bank_convenants(path_portfolio, MIN_PRICE)
df_portfolio = results[0]
df_expensive_containers = results[1]

In [10]:
print(results[2])
df_portfolio.head()

The Drawdown minimal amount is respected

,Serial Number,Type,Unit,CEU,Manufacturer,Manufacturing Date,Vintage,Current Status,Lessee,Contract Number,Contract Type,End Contract date,Per Diem (Unit),Purchase Price,Closing Date
14,GLDU9828487,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12
15,GLDU9828506,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12
16,GLDU9828893,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12
17,GLDU9829061,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12
18,GLDU9829863,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12

In [11]:
df_expensive_containers.head()

,Serial Number,Type,Unit,CEU,Manufacturer,Manufacturing Date,Vintage,Current Status,Lessee,Contract Number,Contract Type,End Contract date,Per Diem (Unit),Purchase Price,Closing Date
14,GLDU9828487,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12
15,GLDU9828506,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12
16,GLDU9828893,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12
17,GLDU9829061,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12
18,GLDU9829863,20'DC,1,1.0,FUWA,2013-04-22,2013,Operational Lease,MSC,4135,Long-term Contract,2024-09-30,0.48,1502.94,2023-06-12